.rate-plan-list {
  display: flex;
  flex-flow: column;
}
.rate-plan-list .rate-plan-card:last-child {
  border-bottom-left-radius: var(--main-border-radius, 10px);
  border-bottom-right-radius: var(--main-border-radius, 10px);
}
@container widget (max-width: 480px) {
  .accommodation-offer {
    overflow-x: hidden;
  }

  .rate-plan-list__wrapper {
    padding: 0.5em;
  }
  .rate-plan-list {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    column-gap: 0.5em;
  }
}
