.agreement-rules-list {
  &__rules {
    li {
      padding-left: 0.25rem;
    }
    li:before {
      display: inline-block;
      content: '—';
      margin-right: 0.25rem;
    }
  }

  &__agreements {
    &-item {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
  }

  &__combined-agreement {
    color: orangered;
    text-decoration: underline;
    padding: 0;

    &:after {
      display: inline-block;
      padding-right: 0;
      content: ', ';
      text-decoration: none;
    }

    &:last-child {
      &:after {
        content: '';
        display: none;
      }
    }
  }
}
