.bflex-app {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;

  &__content {
    position: relative;
    min-height: 450px;
  }
}

#app {
  position: relative;
  font-family: var(--font-base, 'Roboto'), sans-serif;
  font-size: var(--base-font, 16px);
  box-sizing: border-box;
  min-height: 600px;
  line-height: 1.5;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
  }

  .lighter {
    font-weight: lighter;
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
    font-weight: normal;
  }
  h2 {
    font-size: 1.45em;
    margin-bottom: 0.75em;
    font-weight: normal;
  }
  h3 {
    font-size: 1.35em;
    margin-bottom: 0.75em;
    font-weight: normal;
  }
  h4 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    font-weight: normal;
  }
  h5 {
    font-size: 1.15em;
    margin-bottom: 0.5em;
    font-weight: normal;
  }

  .icon-text {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.3em;

    &__icon {
      color: orangered;
    }

    &__text {
      line-height: 1;
    }
  }
}
#app *,
#app *::before,
#app *::after {
  box-sizing: border-box;
}
