.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.custom-checkbox__box {
  width: 1rem;
  height: 1rem;
  border: 2px solid rgba(34, 34, 34, 0.2);
  border-radius: 3px;
  position: relative;
  margin-right: 0.5rem;
  transition: background-color 0.3s;
}

.custom-checkbox input[type='checkbox']:checked + .custom-checkbox__box {
  background-color: #fff;
}

.custom-checkbox__box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: orangered;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}

.custom-checkbox input[type='checkbox']:checked + .custom-checkbox__box::after {
  transform: translate(-50%, -50%) scale(1);
}
