.customer-data-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1.5rem;
  padding: 1rem 0 0;
}

@media screen and (max-width: 460px) {
  .customer-data-form {
    grid-template-columns: 1fr;
  }
}
