.field-decorator {
  &__required {
    padding-left: 3px;
    color: red;
  }
  &__input-group {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: white;
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 0.875em;
    margin-bottom: 0.25em;
    line-height: 1;
    color: rgba(34, 34, 34, 0.4);
  }

  &__slot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    textarea,
    select,
    input {
      border: 0 !important;
      outline: 0 !important;
      background: white;
      width: 100%;
      height: 100%;
      font-size: max(0.875rem, 16px);
      padding: 0.25rem 0;
    }

    textarea {
      resize: vertical;
    }
  }

  &__hint {
    height: 1.25rem;
    color: #3d3d3d;
    text-align: right;
    font-size: 0.725rem;
    overflow: hidden;
  }
}

.form-group--error {
  .field-decorator__input-group {
    border-color: red;
  }

  .field-decorator__hint {
    color: red;
  }
}
