.icon-text {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.375em;

  &__icon {
    display: inline-flex;
    color: #ea580c;
    flex: 0 0 1em;

    .icon {
      width: 1.5em;
    }
  }

  &__text {
    line-height: 1;
  }
}
