.information-block-grid {
  display: grid;
  grid-row-gap: 1.25em;
}

.information-block {
  background-color: #fff;
  border-radius: var(--main-border-radius, 10px);

  &__info__details {
    display: flex;
    font-size: 0.8em;
    color: rgba(34, 34, 34, 0.6);
    margin-top: 1em;
    background-color: #f9f9fa;
    border-radius: 5px;
    padding: 1em 1.25em;

    .material-icons {
      margin-right: 0.5em;
    }
  }

  &__content {
    padding: 1em 1.25em;

    ul {
      margin: 0;
      padding-left: 1.5em;
      font-size: 0.9em;

      li {
        margin-bottom: 0.5em;
        list-style: disc;
      }
    }

    dl {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.2em;
      font-size: 0.9em;
      align-items: center;

      dt {
        font-weight: bold;
        line-height: 1;
      }

      dd {
        text-align: right;
        line-height: 1;
      }
    }

    a {
      color: orangered;
      padding: 0 0.3em;
    }
  }

  &__info__details {
    display: flex;
    font-size: 0.8em;
    color: rgba(34, 34, 34, 0.6);
    margin-top: 1em;
    background-color: #f9f9fa;
    border-radius: 5px;
    padding: 1em 1.25em;

    .material-icons {
      margin-right: 0.5em;
    }
  }

  .divider {
    margin: 0;
    height: 1px;
    background-color: #e0e0e0;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    padding: 1em 1.25em;
    border-radius: 10px 10px 0 0;

    &-additional {
      font-size: 0.8em;
      color: gray;
      font-weight: normal;
    }

    &.dense {
      font-size: 1.2em;
      padding: 0.5em 1.25em;
    }
  }
}

@media screen and (max-width: 768px) {
  .information-block {
    &__header {
      font-size: 1.2em;
      flex-direction: column;
      align-items: flex-start;

      &.dense {
        font-size: 1.1em;
      }

      &-additional {
        font-size: 0.65em;
      }
    }
  }
}
