.information-block-grid {
  display: grid;
  grid-row-gap: 1.25em;
}

.information-block {
  background-color: var(--information-block-bg, #ffffff);
  border-radius: var(--main-border-radius, 10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  &--attention {
    border: 3px solid red;
  }

  &__content {
    padding: 1em 1.25em;

    dl {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.25em;
      align-items: center;

      dt {
        font-weight: bold;
        line-height: 1;
      }

      dd {
        text-align: right;
        line-height: 1;
      }
    }

    a {
      padding: 0 0.25em;
    }
  }

  .divider {
    margin: 0;
    height: var(--information-block-divider-height, 1px);
    background-color: var(--information-block-divider-bg, #e5e5e5);
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1em 1.25em;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    font-weight: 700;

    .additional {
      color: gray;
      font-weight: normal;
    }

    &.dense {
      padding: 0.5em 1.25em;
    }
  }
}

@container widget (max-width: 480px) {
  .information-block {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
