.price-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'discount'
    'amount';
  line-height: 1;
  height: 100%;
  width: 100%;
  //justify-content: center;

  &__discount {
    grid-area: discount;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-self: end;
    font-size: 12px;
    font-weight: lighter;
    color: var(--price-block-discount-old-value, #4a5568);
  }

  &__discount-size {
    display: block;
    padding: 0.125em;
    margin-right: 0.25em;
    background: var(--price-block-discount-bg, #dc2626);
    color: var(--price-block-discount-color, white);
    border-radius: 0.25em;
  }

  &__old {
    text-decoration-line: line-through;
    opacity: 0.5;
  }

  &__schedule {
    font-size: 12px;
  }

  &__icons .icon {
    font-size: 16px;
    fill: var(--price-block-person-icon-color);
  }

  &__amount {
    grid-area: amount;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
    font-size: 20px;
  }

  &__current {
    margin-left: 0.5em;
  }

  &__current-currency {
    font-weight: lighter;
    padding: 0 0.125em;
  }
}

@container widget (max-width: 480px) {
  .price-block {
    grid-template-columns: 1fr;
    grid-template-areas: 'amount discount';
    column-gap: 1em;
  }
}
