.variant-line {
  text-align: right;
  font-size: var(--variant-line-font-size, medium);
  color: var(--variant-line-color, #000000);

  &:hover {
    background: var(--variant-line-selected, #e0e0e0);
  }

  &.selected {
    background: var(--variant-line-selected, #e0e0e0);

    &:hover {
      background: var(--variant-line-hover, #D7D7D7);
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: .5em 1em;
  }

  &__footer {}
}

.price-block {
  display: flex;
  flex-direction: column;
  line-height: 1;
  height: 100%;
  width: 100%;
  justify-content: center;

  &__separator {
    min-width: 20px;
  }

  &__discount {
    line-height: 1;
    display: flex;
    align-items: center;
    align-self: end;
    font-size: .75em;
    font-weight: lighter;
  }

  &__discount-size {
    display: block;
    padding: .125em .1em;
    margin-right: .25em;
    background: red;
    color: white;
  }

  &__old {
    text-decoration-line: line-through;
    opacity: 0.5;
  }

  &__schedule {
    font-size: .75em;
  }

  &__icons .material-icons {
    font-size: 1em;
  }

  &__amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
    font-size: 1.3em;
  }

  &__current {}

  &__current-currency {
    font-weight: lighter;
    padding: 0 2px;
  }
}

@media screen and (max-width: 460px) {
  .variant-line {
    font-size: var(--variant-line-font-size, small);
  }
}
