.rate-plan-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'description actions'
    'bottom actions';
  width: 100%;
  position: relative;
  background-color: var(--rate-plan-background);
  font-size: var(--rate-plan-font-size);
  color: var(--rate-plan-color);

  &--blocked {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  &__wrapper {
    grid-area: description;
    padding: 0;
  }

  blockquote {
    border-left-color: var(--rate-plan-secondary-color);
    color: var(--rate-plan-secondary-color);
  }

  &__description {
    padding: 1.5rem;
  }

  &__offers {
    font-size: var(--rate-plan-font-size, .875rem);
    color: var(--rate-plan-secondary-color);

    &-item {
      display: flex;
      align-items: center;
      padding: .375rem 0;

      .icon {
        margin-right: .375rem;
        color: var(--rate-plan-icon-primary-color, #696969);
        fill: var(--rate-plan-icon-primary-color, #696969);
      }

      &.extra-offer {
        .icon {
          color: inherit;
        }
      }

      &.feed-offer {
        color: var(--rate-plan-icon-secondary-color, #28a745);
        .icon {
          color: var(--rate-plan-icon-secondary-color, #28a745);
          fill: var(--rate-plan-icon-secondary-color, #28a745);
        }
      }
    }
  }

  &__variants {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem 0;

    .length-of-stay {
      display: block;
      font-size: 0.875rem;
      text-align: right;
      padding: 0 1rem 0;
    }
  }
}

@media screen and (max-width: 460px) {
  .rate-plan-card {
    grid-template-columns: 1fr;
    grid-template-areas:
      'description'
      'actions';
    align-content: space-between;
    min-width: 300px;
    margin-right: 0.5rem;
    border-radius: var(--main-border-radius, 10px);
    border: 1px solid var(--main-border-color, #e0e0e0);

    &__actions {
      justify-self: stretch;
    }
  }

  .rate-plan__offers {
    &-item .icon {
    }
  }
}
