.reservation-result {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  &__description {
    font-size: 1.2rem;
    text-align: center;
  }
}

.hotel-information {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
