.reservation-result {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 0.5em;

  &__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  &__description {
    font-size: 19px;
    text-align: center;
  }
}

.hotel-information {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
  font-size: 14px;
  justify-content: center;
  justify-items: center;
}
