.summary-block {
  position: sticky;
  width: auto;
  bottom: 0;
  right: 0;
  padding: 1rem;
  box-shadow: 0 -4px 54px hsla(0, 0%, 62%, 0.2);
  background: #fff;
  z-index: 4;
  border-radius: 10px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__price {
      font-size: 1rem;
      font-weight: bold;
      color: #ea580c;
    }

    &__text {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      color: rgba(34, 34, 34, 0.6);
      vertical-align: center;

      .icon {
        font-size: 1rem;
        margin-left: 0.25rem;
      }
    }
  }

  .accommodation-summary-trigger {
    cursor: pointer;

    &:hover {
      color: #ea580c;
    }
  }
}
@container widget (max-width: 480px) {
  .summary-block {
    position: sticky;
    box-sizing: border-box;
    left: 0;
    width: 100%;
  }
}
