.v-popper__popper {
  p {
    line-height: 1;
    padding: 0.125em 0;
    margin: 0.5em;
    font-size: 14px;
    color: #ffffff;
  }
  ul {
    margin-bottom: 0;
    li:before {
      content: '-';
    }
  }
}
